@import '../../../styles/mixins/mixin';
@import '../../../styles/mixins/grid/bootstrap-grid';

$url-font: "../../../fonts/";
$url-img: "../../../img/";
$url-icons:  "../../../img/icons/";

.section__delivery-methods {
  padding-top: 3.75rem;
  @include media-breakpoint-up(xs){
    padding-top: 3rem;
  }
}

